// Base colors
$primary: #3A4047;
$secomdary: #FFF4CA;
$success: #ddffc1;
$danger: #ff3d46;
$warning: #ff8f3a;
$info: #CDBEA7;

$black: #000;
$dark: #323030;
$gray: #cacaca;
$light: #fafafa;
$white: #fff;

$yellow: #fce473;
$pink: #c71585;
$green: #32cd32;
$blue: #0000ff;

// Breakpoints
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1500px;

// Fonts
$fzBaseHtml: 12px;
$fzBaseHeading: 1rem;
$fzSmall: 0.8rem;

$fw: ("regular": 400,
    "medium": 500,
    "bold": 700,
);